# My Packages
# requirements.in stores no-dependency packages required for project. From that, pip-compile will generate
# requirements.txt by pip-tools that have all dependencies for selected packages.

# Chapter 8
celery==5.2.7
Django==4.1.4
flake8==6.0.0
flower==1.1.0
isort==5.11.4
Pillow==9.3.0
pre-commit==2.20.0
pip-tools==6.12.1

# Chapter 9
stripe==4.0.2
WeasyPrint==56.1

# Chapter 10
redis==4.3.4

# Chapter 11
django-rosetta==0.9.8
django-parler==2.3
django-localflavor==3.1

# Chapter 13
django-braces==1.15.0

# Chapter 14
django-embed-video==1.4.4
pymemcache==3.5.2
django-debug-toolbar==3.6.0
redis==4.3.4
django-redisboard==8.3.0
attrs==22.2.0
