# My Packages
# requirements.in stores no-dependency packages required for project. From that, pip-compile will generate
# requirements.txt by pip-tools that have all dependencies for selected packages.

# Chapter 8
celery==5.2.7
Django==4.1.4
flake8==6.0.0
flower==1.1.0
isort==5.11.4
Pillow==9.3.0
pre-commit==2.20.0
pip-tools==6.12.1

# Chapter 9
stripe==4.0.2
WeasyPrint==56.1

# Chapter 10
redis==4.3.4

# Chapter 11
django-rosetta==0.9.8
django-parler==2.3
django-localflavor==3.1
